<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!-- NAONNA main -->
body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: black;
    max-width: 100%;
}
.main {
	margin-top : 150px;
}
/* start top menu */
.top_menu {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    position : absolute;
    background-color: #32435F;
}
.collapse{
  width:98%;
}
.navbar-brand{
  color: white !important;
  margin-left: 12%;
  font-size: 20px !important;
}
.firstMenu{
	color:white !important;
	margin-top:5px;
	display:inline-block;
}
.firstMenu-logout{
	color:white !important;
	margin-top:20px;
	display:inline-block;
}
.firstMenu:hover{
	color: white !important;
    background : red !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color : red;	
}
.secondMenu{
	color:black !important;
}
.secondMenu:hover{
	color:black !important;
}
/* side-profile */
.side-profile {
  display : inline-block;
  height : 500px;
  margin-top: 200px;
}

.container-content .main {            /*->이거 주석하면 로그인 안눌림*/
   display : inline-block;
   right : 0;
   width : 80%;
   position : absolute;
   top : 50px;
   padding : 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color : white;
}
.card a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.card p {
   color : black;
}
/* The Modal*/
#LoginModal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(67, 68, 64, 0.4);
    padding-top: 20px;  /*top으로 부터 얼마나 띄울지*/
    top : -20px;
}
ul[name=login_select]{
  margin-top: 20px;
  margin-bottom: 0px;
}
#login_A{
  width : 70%;
  margin: 5% auto 15% auto;
}
#login_A label{
  display : block;
  font-size: 18px;
  text-align: center;
  margin: auto;
}
.close{
  margin-top: -10px;
}
#admin_login, #admin_login_pw {
	width: 500px;
  height: 35px;
  margin-left: -50px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.kakao_login{
	margin-left:130px;
	margin-top: 50px;
	margin-bottom: 20px;
}
button[name=login], a[name=join_btn], #submitbut{
  border: none;
  display: block;
  width: 500px;
  height: 45px;
  margin-left: -50px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  font-size: 18px;
}
#submitbut {
	margin-left : 30px;
}
a[name=join_btn]{
  padding: 10px;
  border-radius: 6px;
}
#join label{
  display : block;
  font-size: 18px;
  text-align: left;
  margin-left: 43px;
  margin-bottom: 5px;
}
input[name=ground_ad], input[name=ground_adpw]{
  width: 500px;
  height: 35px;
  margin-left: -50px;
  margin-bottom: 20px;
  padding-left: 20px;
}
input[name=ground_admin]{
  width: 300px;
  height: 35px;
  display: inline-block;
  margin-left: -80px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 20px;
}
input[name=ground_ad_pw], input[name=ground_ad_pin], input[name=ground_name]{
  width: 300px;
  height: 35px;
  display: inline-block;
  margin-left: -176px;
  margin-bottom: 20px;
  padding-left: 20px;
}
input[name=email]{
	 margin-left: -40px;
}